<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Detail</title>
</head>
<body>
    <h3>Note Detail</h3>

    {% if note %}
        <p><strong>Sen to:</strong> {{ note.created_by }}</p>
        <p><strong>Created at:</strong> {{ note.created_at}}</p>
        <p><strong>Text:</strong></p>
        <p>{{ note.text }}</p>
    {% else %}
        <p>Error! Note not found.</p>
    {% endif %}

</body>
</html>
