<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Detail</title>
</head>
<body>

    {% if note %}
        <p><strong>Send to:</strong> {{ note.send_to }}</p>
        <p><strong>Sent Date:</strong> {{ note.created_at }}</p>
        <p><strong>Note:</strong></p>
        <p>{{ note.text }}</p>
        {% if note.file_download_url %}
            <p><strong>File:</strong> <a href="{{ note.file_download_url }}" download>Download File</a></p>
        {% endif %}
    {% else %}
        <p>Error! Note not found.</p>
    {% endif %}

</body>
</html>
